.mainImage {
width: 600px;
height: 600px;
display: block;
margin: 0 auto;
margin-top: 80px;
}

#slide-out {
  margin-top: 70px;
}

#filtersubmit {
    position: relative;
    z-index: 1;
    left: -25px;
    top: 1px;
    color: #7B7B7B;
    cursor:pointer;
    width: 0;
}

#access-chip {
  padding-bottom: 8px;
}